rsync-pdfs.sh
tmp
**/old
**/bin

# Latex
**/*.aux
**/*.log
**/*.nav
**/*.out
**/*.snm
**/*.vrb
**/*.synctex.gz
**/*.synctex.gz(busy)
**/*.toc

# Java / Scala
**/*.class

# Eclipse
**/*.cache-main
**/.metadata

# Sbt
**/target

# Editor swap files
*.swp   # vim
*~      # emacs

.idea
