# Editor files

##VSCode
**/.vscode
##vim
*.swp
##emacs
*~

# Java / Scala

**/*.class
**/.bloop
**/.metals
**/metals.sbt
**/.bsp
**/.scalafmt.conf
**/.ammonite
**/.scala-build

# Eclipse
**/*.cache-main
**/.metadata
**/.classpath
**/.project

# Sbt
**/target

# IntelliJ
**/.idea
