# Editor files

## VSCode
**/.vscode
## VIM
*.swp
##Emacs
*~

# Java / Scala

**/*.class
**/.bloop
**/.metals
**/metals.sbt
**/.bsp
**/.scalafmt.conf
**/.ammonite
**/.scala-build

# Eclipse
**/*.cache-main
**/.metadata
**/.classpath
**/.project

# Sbt
**/target

# IntelliJ
**/.idea
